.operatingHours {
  &__header {
    margin-bottom: .5rem;
  }

  &__table {
    margin-bottom: 1rem;
  }

  &__addRowButton {
    margin-bottom: .5rem;
  }

  &__timeRange {
    padding-right: 2rem;
  }

  input[type=checkbox] {
    box-sizing: content-box;
  }
}
