html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  vertical-align: baseline;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  
  code {
    position: relative;
    width: 100%;
    display: block;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.75rem;

    &::after {
      position: absolute;
      height: 100%;
      width: 100%;
      border: solid 1px rgb(238, 238, 238);
      top: 0;
      left: 0;
      content: '';
    }

    &::before {
      position: absolute;
      height: 1.75rem;
      width: 100%;
      top: 0;
      left: 0;
      padding: 0.25rem;
      content: ' Code';
      font-size: 1rem;
      font-family: monospace;
      text-transform: uppercase;
      background-color: rgb(238, 238, 238);
    }
  }
 }

img {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  max-width: 300px;
}

del {
  position: relative;
  color: rgba(255, 0, 0, .5);
  text-decoration-color: rgba(255, 0, 0, 1);
  display: inline-block;

  &::before {
    background-color: rgba(255, 0, 0, .25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }
}

ins {
  text-decoration: none;
  border-bottom: solid 2px green;

  .entry-name & {
    border-bottom: none;
  }

  [data-field-type=Link] & {
    display: inline-block;
  }
}

label {
  font-size: 0.875rem !important;
  display: block;
  color: #606c7c;
}

.field-list-wrap {
  list-style: none;
  padding-left: 0;
  width: 100%;

  > .diff-field-wrap {
    padding: 0.875rem;
    border-bottom: solid 1px rgb(238, 238, 238);

    &:last-of-type {
      border-bottom: none;
    }
  }

  .embedded-inline-entry {
    .diff-field-wrap {
      padding: 0;
    }
  }
}

.array-field-wrap {
  list-style: none;
  display: flex;
  padding-left: 0;

  li {
    border: solid .125rem rgba(46, 117, 212, 0.25);
    border-radius: .25rem;
    background-color: white;
    padding: .25rem;
    margin-right: 0.5rem;
    font-size: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.diff-field-line-wrap {
  display: flex;
}

.diff-text {
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;

  &_snapshot,
  &_current {
    //display: none;
  }

  &:last-of-type {
    border-bottom: none;
  }

  p {
    line-height: 1.25em;
    margin-bottom: .25rem;
  }

  .embedded-entry-block,
  .embedded-inline-entry,
  .embedded-asset-block {
    display: block;
    border: solid 1px rgb(238, 238, 238);
    margin: 1.75rem 0;

    &:first-of-type {
      margin-top: 0;
    }

    > * {
      background-color: white;
      padding: 0.875rem;
    }
  }

  .embedded-entry-block {
    .field-list-wrap {
      padding: 0;
    }
  }

  .entry-name {
    color: #606c7c;
    font-size: 1rem;
    line-height: 1rem;
    padding-bottom: 0;
  }
}

.diff-field-line-wrap {
  &[data-field-type=RichText] {
    background: rgb(247, 249, 250);
    padding: 1.75rem;
  }

  &[data-field-type=Link] {
    del {
      margin: 0.5rem 3rem 0.5rem 0;

      &::before {
        background-color: rgba(255, 0, 0, 0.75);
      }
      
      img {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .entry-name {
    del {
      margin: 0;

      &::before {
        background-color: rgba(255, 0, 0, 0.25);
      }
    }
  }
}